<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title th:text="'Data Tagger | Tagging pictures from ' + ${folderId}">Data Tagger</title>
</head>
<body>
<p align="center"><a th:href="@{/}">Different folder</a></p>
<p>
    <img th:each="picUrl : ${pics}" th:src="@{'~/data/' + ${folderId} + '/' + ${picUrl}}"
         style="float: left; height: 20em; margin-right: 1%; margin-bottom: 0.5em;"/>
</p>
</body>
</html>